// Core variables and mixins
@import "../lib/bootstrap-3.2.0/less/variables.less";
@import "../lib/bootstrap-3.2.0/less/mixins.less";

@import "core.less";
@import "buttons.less";


//bootstrap override
@grid-gutter-width: 16px;


body {
    background-color: @bgGray;
    font-family: Roboto;
}

.affix {
    position: fixed;
    top: 0;
}
.affix-top {
    position: relative;
    //top: 0;
}

.p-logo {
    display: block;
    font-size: 24px;
    color: white;
    font-weight: 600;
    
    sup {
        color: white;
        font-size: 13px;
    }
}

.p-logo-left {
    position:  absolute;
    left:0;
    //display: none;
    width: 0;
    background-color: blue;
    height: 42px;
    color: white;
    .transition(width 0.8s);    
}

.p-login {
    vertical-align: middle;
}

.p-header {
    width: 100%;
    padding:10px 0;
    .clearfix();
    background-color: @primary;
    color: white;
}

.p-main-menu {
    width: 100%;
    .clearfix();
    z-index: 1000;
    background-color: @bgGrayLight;
    .box-shadow(0px 3px 3px rgba(red(lighten(@gr, 15%)), green(lighten(@gr, 15%)), blue(lighten(@gr, 15%)), 0.75));
    ul.p-top-layer {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            position: relative;
            display: inline-block;
            margin: 0;
            padding: 0;
            
            > a {
                display: block;
                padding: 10px;
                
                color: @gr-dark;
                font-weight: 700;
                font-size: 14px;
                border-bottom: 2px solid @bgGrayLight;
                
                &:hover, &:active, &.active {
                    color: @primary;
                    text-decoration: none;
                    border-bottom: 2px solid @primary;
                }
            }
            
            &:hover {
                .p-sub-layer {
                    display: block;
                }
                
            }
            
            .p-sub-layer {        
                display: none;
                z-index: 1200;
                position: absolute;
                //width: 700px;
                .clearfix();
                min-width: 550px;
                background-color: @bgGrayLight;
                border: 1px solid @bgGray;
                .box-shadow(5px 5px 7px 2px rgba(red(@gr-light), green(@gr-light), blue(@gr-light), 0.75));
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;                
                padding: 5px 15px;
                
                ul {
                    width: 250px;
                    display: inline-block;
                    list-style: none;
                    maring: 0;
                    padding-left: 15px;
                    
                    li {
                        width: 100%;
                        a {
                            width: 100%;
                            display: block;
                            padding: 5px 0;
                            .text-overflow();                            
                        }
                    }
                }                
            }
        }
    }
    
    &.affix {
        background-color: white;
        
        
        ul.p-top-layer > li > a {
            //color: white;    
        }
        
        .p-logo-left {
            width: 70px;
        }
    }
    
    .p-main-tool {
        display: inline-block;
    }
    
}

.p-content-wrapper {
    width:100%;
    .clearfix();
    padding:10px 0;
    
    .p-left-meta {
        position: relative;
        float: left;
        width: percentage((2.5 / @grid-columns));
        min-height: 1px;
        padding-left:  (@grid-gutter-width / 2);
        padding-right: (@grid-gutter-width / 2);        
    }
    .p-center-content {
        position: relative;
        float: left;
        width: percentage((6.5 / @grid-columns));
        min-height: 1px;
        padding-left:  (@grid-gutter-width / 2);
        padding-right: (@grid-gutter-width / 2);
    }
    .p-right-banner {
        position: relative;
        float: left;
        width: percentage((3 / @grid-columns));
        min-height: 1px;
        padding-left:  (@grid-gutter-width / 2);
        padding-right: (@grid-gutter-width / 2);
    }
}



.p-meta-wrapper {
    background-color: white;
    border: 1px solid lighten(@gr, 20%);
}
.p-meta-box {
    background-color: white;
    padding: 10px;
    //margin-bottom:10px;
    //.clearfix();
    border-bottom: 1px solid lighten(@gr, 20%);
    
    .title {
        color: @gr-darkest;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    ul {
        list-style: none;
        margin:0;
        padding:0;
        li {
            margin:0;
            padding:0;
            a {
                color: @gr-darkest;
                display: block;
                width: 100%;
                font-size: 13px;
                margin-bottom: 5px;
                
                .num {
                    color: @gr;
                    font-size: 12px;
                }
                
                &:hover, &:active, &.active {
                    color: @primary;
                    text-decoration: none;
                }
            }
        }
    }
    
    &:last-child {
        border-bottom: none;
    }
}

.p-sub-category {
    background-color: white;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    margin:0;
    padding: 0;
    list-style: none;
    .clearfix();
    
    li {
        width: 100%;        
        margin:0;
        padding:0;
        .clearfix();
        
        a {
            display: block;
            width: 100%;
            padding: 8px 10px;
            border-left: 2px solid white;
            background-color: white;
            color: @gray-light;
            font-size: 12px;
            
            &.active {
                color: @gray;
                background-color: @bgGrayLight;
                border-left: 2px solid @primary;
                text-decoration: none;
            }
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.p-ad-search-result {
    background-color: @bgGrayLight;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid lighten(@gr, 20%);
    border-radius: 2px;
    
    .category-breadcrumb {
        .make-row();
        margin-bottom: 10px;
        .clearfix();
        
        > span {
            color: @gr-darker;
            .make-xs-column(8);            
        }
        > div {
            .make-xs-column(4);
        }
    }
    
    .search-meta {
        margin-bottom: 10px;
        font-size: 12px;
        color: @gr-darker;
        span {
            padding: 3px 5px;
            color: white;
            background-color: @primary;
            border-radius: 8px;
            cursor:pointer;
        }
        
    }
    .search-count {
        font-size: 12px;
        color: @gr-darker;
    }
}

.p-ad-box {
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid lighten(@gr, 20%);    
    min-height: 80px;
    background-color: white;
    .clearfix();
    
    
    .p-ad-info {
        //background-color: gray;
        .make-xs-column(10);
        
        .p-ad-image {
            background-color: gray;
            display: block;
            float: left;
            width: 90px;
            height: 70px;
            overflow: hidden;
            margin:10px 10px 10px 0;
            border: 1px solid gray;
            img {
                width: 100%;
            }
        }
        
        h4, .p-ad-price-tag, .p-ad-meta {
            display: block;
            margin-left: 105px;            
        }
        
        h4 {
            color: @gr-darker;
            font-size: 14px;
            text-overflow: ellipsis;
        }
        
        .p-ad-price-tag {
            color: @gr-dark;
            .price {
                font-weight: 600;
                padding-right: 10px;
            }
            .tag {
                font-size: 11px;
            }
        }
        
        .p-ad-meta {            
            color: @gr;
            margin-bottom: 10px;
            span {
                font-size: 11px;
                strong {
                    font-weight: 500;
                }
            }
        }
        
        &.no-image {
            h4, .p-ad-price-tag, .p-ad-meta {
                margin-left:0;
            }
        }
    }
    
    .p-ad-user-info {
        .make-xs-column(2);
        padding-top:10px;
        padding-bottom:10px;
        color: @gr;
        font-size: 11px;
        
        .p-user-info, .timeago, .p-stat-info {
            display: block;
            margin-bottom: 10px;
        }
        
        .p-stat-info {
            color: @gr-darker;
            font-size: 13px;
        }
    }
    
}

.p-display-banner {
    margin-bottom: 10px;
    width: 100%;
    //min-height: 200px;
    background-color: @bgGrayLight;
    border: 1px solid @bgGray;
    
    img {
        width: 100%;
    }
    
    
}


.p-best-box {
    margin-bottom: 10px;    
    padding: 10px;
    background-color: white;
    border: 1px solid lighten(@gr, 20%);
    border-radius: 2px;
    
    h5 {
        margin-bottom: 15px;
        font-size: 16px;
        color: @primary;
    }
}

.p-ad-short {
    margin-bottom: 8px;
    
    .title {
        color: @gr-darkest;
        font-size: 13px;
        .text-overflow();
    }
    
    .p-stat-info {
        font-size: 11px;
        span {            
            color: @gr-dark;
        }
    }

}


.p-v-list {
    margin:0;
    padding:0;
    list-style: none;
    li {
        margin:0;
        padding:0;
    }
}

.p-h-list {
    margin:0;
    padding:0;
    list-style: none;
    li {
        display: inline-block;
        margin:0;
        padding:0;
    }
}

.p-gnb-user {
    >ul > li {
        position: relative;
        
        > a {
            display: block;
            position: relative;
            padding: 7px 8px 0 8px;
            color: white;

            i {
                font-size: 20px;
            }

            sup {
                display: block;
                position: absolute;
                top: 0;
                left: 16px;
                color: white;
                font-size: 10px;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                background-color: @red;
                line-height: 16px;
                vertical-align: middle;
                text-align: center;
            }
        }
        
        &:hover {
            .p-drop-down {
                display: block;
            }
        }
    }
    
    
}

.p-drop-down {
    display: none;
    z-index: 1200;
    position: absolute;
    margin-top: 10px;
    //top: -10px;
    background-color: @bgGrayLight;
    //min-width:300px;
    //min-height: 250px;
    border-radius: 2px;
    border: 1px solid @bgGray;
    .box-shadow(0px 3px 3px rgba(red(lighten(@gr, 15%)), green(lighten(@gr, 15%)), blue(lighten(@gr, 15%)), 0.75));
    
    padding: 10px 20px 15px 20px;
    
    > .title {                
        margin-bottom: 8px;        
        text-align: center;
        color: @gr;
        font-size: 13px;
    }
    
    .p-ad-notification {
        margin-bottom: 8px;
        //width: 100%;
        display: block;
        .clearfix();
        .title {
            display: block;
            float: left;
            width: 80%;            
            .text-overflow();
            font-size: 13px;
            padding-right: 8px;
        }
        .p-stat-info {
            display: block;
            float: left;
            width: 20%;
            font-size: 11px;
            line-height: 16px;
        }
    }
    
    > .footer {
        margin-top: 15px;
    }
    
    &:before {
        z-index:1;
        position: absolute;
        top: -10px;
        left: 10px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid @bgGray;
        content: '';
    }
    
    &:after {
        z-index:2;
        position: absolute;
        top: -8px;
        left: 11px;
        width: 0; 
        height: 0; 
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid @bgGrayLight;
        content: '';
    }
}


.p-detail-content {
    background-color: white;
    
}

.p-box {
    background-color: white;    
    border: 1px solid lighten(@gr, 20%);
    border-radius: 2px;    
    padding:10px;
    margin-bottom: 15px;
    
    .p-box-header {
        margin-bottom: 10px;
        
        .p-breadcrumb {
            font-size: 14px;
            color: @gr;
            margin-bottom: 10px;
        }
        
        .p-ad-title {
            display: inline-block;
            width: 80%;
            font-size: 16px;
            font-weight: 600;
            padding:0;
            margin:0;
        }
        
        .p-ad-price {
            display: inline-block;
            width: 18%;
            font-size: 16px;
            font-weight: 600;
            padding:0;
            margin-bottom:10px;
            text-align: right;
        }
        
        .p-ad-meta {
            font-size: 12px;
            color: @gr-dark;
            .clearfix();
        }
    }
    
    .p-box-body {        
        margin-bottom: 10px;
        .p-ad-desc {
            color: @gr-darkest;
            font-size: 14px;
        }
        
        .p-ad-contact {
            margin-bottom: 20px;
            .title {
                font-size: 13px;
                color: @gr;
                margin-bottom: 10px;
            }
            
            address {
                abbr {
                    color: @gr;
                    font-size: 13px;                    
                }
                margin-bottom: 5px;
            }
        }
        
        .p-ad-tools {
            position: relative;
            margin: 0 -10px 20px -10px;
            //background-color: @gr-light;
            padding: 10px;
            .clearfix();
            
            .p-ad-share {
                margin-right: 150px;                
            }
            
            .p-ad-actions {
                position: absolute;
                right: 10;
                top:10;
            }
        }
        
        .p-ad-images {
            margin-bottom: 20px;
            img {
                width: 100%;
                margin-bottom: 10px;
                border: 1px solid @gr;
            }
        }
        
        .p-ad-map {
            margin-bottom: 20px;
            .title {
                font-size: 13px;
                color: @gr;
                margin-bottom: 10px;
            }
            
            .map {
                width: 100%;
                min-height: 200px;
                background: @bgGray;
            }
        }
    }
    
}

.p-comment-wrapper {
    .title {
        margin-bottom: 10px;
        font-size: 13px;
        color: @gr;
    }
    
    .p-comment-insert {
        margin-bottom: 15px;
        
        textarea {
            border: 2px solid lighten(@primary, 10%);
            box-shadow: none;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            
            overflow: hidden;
            word-wrap: break-word;
            resize: horizontal;
            height: 50px;
        }
        
        .p-comment-btns {
            margin-top: -2px;
            //padding: 10px;
            border: 2px solid lighten(@primary, 10%);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            
            .p-comment-btn {
                display: inline-block;
                padding: 5px 15px;
                color: white;
                font-size: 12px;
                background-color: @primary;
                cursor: pointer;
            }
        }
    }
    
    .p-comment {
        .clearfix();
        margin-bottom: 10px;
        
        > a {
            display: block;
            float: left;
            margin: 5px 0 0 0;
        }
        
        > div {
            padding-left: 45px;
            
            .meta-tools { 
                position: relative;
                
                span {
                    padding-right: 10px;
                }
                .meta {
                    margin-right: 150px;
                    span {
                        color: @gr;
                        font-size: 12px;
                    }
                }
                
                .tools {
                    display: none;
                    position: absolute;
                    right: 0;
                    top:0;
                    
                    span {
                        font-size: 11px;                                           cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                        
                    }
                }
            }
            
        }
        
        &:hover {            
            .meta-tools .tools {
                display: block;
            }
        }
    }
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid @gr;
}